<!DOCTYPE html>
<html>
<head>
  <title>AnimatedgifMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to 'New Gif', new_gif_path %></li>
      </ul>
        <h3 class="text-muted"><%= link_to "With Great Gifs Comes Great Responsibility", root_url %></h3>
    </div>

    <%= yield %>

    <div class="footer text-center">
      <p>Built with <i class="icon-heart"></i> by <%= link_to "Chris Oliver", "http://excid3.com" %></p>
    </div>
  </div> <!-- /container -->

</body>
</html>
